face-recognition==1.3.0
face_recognition_models==0.3.0
fastapi==0.121.0
mediapipe==0.10.21
numpy<2.0
opencv-contrib-python==4.11.0.86
opencv-python==4.12.0.88
python-dotenv==1.2.1
supabase==2.23.2
supabase-auth==2.23.2
supabase-functions==2.23.2
ultralytics==8.3.225
ultralytics-thop==2.0.18
uvicorn==0.38.0
